/* colors */

$navy: #0A1938;
$light-teal: #02C1AF; 

$bodoni: 'Bodoni', serif; 
$bodoni-italic: 'Bodoni Italic', serif; 
$bodoni-bold: 'Bodoni Bold', serif; 
$restless: 'Restless Youth Script', sans-serif;
$true-north: 'True North Dots', sans-serif; 
 